img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: currentColor;
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  /* Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3) */
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  line-height: 1.15; /* 1. Correct the line height in all browsers. */
  -webkit-text-size-adjust: 100%; /* 2. Prevent adjustments of font size after orientation changes in iOS. */
  -moz-tab-size: 4; /* 3. Use a more readable tab size (opinionated). */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
}

/*
Sections
========
*/
body {
  margin: 0; /* Remove the margin in all browsers. */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

/* inter-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-v12-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/inter-v12-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/inter-v12-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
.hero__title {
  font-weight: 24px;
  font-size: 24px;
  line-height: 1.2;
  text-align: center;
}
@media screen and (min-width: 375px) {
  .hero__title {
    font-size: 28px;
  }
}
@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 32px;
    text-align: left;
  }
}
@media screen and (min-width: 990px) {
  .hero__title {
    font-size: 38px;
  }
}
@media screen and (min-width: 1440px) {
  .hero__title {
    font-size: 42px;
  }
}
@media screen and (min-width: 1920px) {
  .hero__title {
    font-size: 56px;
  }
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  font-family: "Inter", "Roboto" sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4;
  background-color: #131212;
  color: #ffffff;
  min-width: 320px;
}

main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

footer {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.container {
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 375px) {
  .container {
    width: 375px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    padding-left: 40px;
    padding-right: 40px;
    width: 768px;
  }
}
@media screen and (min-width: 990px) {
  .container {
    padding-left: 48px;
    padding-right: 48px;
    width: 990px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    padding-left: 172px;
    padding-right: 172px;
    width: 1440px;
  }
}
@media screen and (min-width: 1920px) {
  .container {
    padding-left: 229px;
    padding-right: 229px;
    width: 1920px;
  }
}

.header {
  padding: 16px 0 14px;
}
@media screen and (min-width: 375px) {
  .header {
    padding: 44px 0 14px;
  }
}
@media screen and (min-width: 768px) {
  .header {
    padding: 23px 0 29px;
  }
}
@media screen and (min-width: 1920px) {
  .header {
    padding: 30px 0 40px;
  }
}

.header-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo {
  display: inline-block;
  width: 56px;
  height: 50px;
  background: url("../images/logo.svg") no-repeat center center/contain;
}
@media screen and (min-width: 768px) {
  .logo {
    width: 64px;
    height: 58px;
  }
}
@media screen and (min-width: 990px) {
  .logo {
    width: 72px;
    height: 65px;
  }
}
@media screen and (min-width: 1920px) {
  .logo {
    width: 96px;
    height: 87px;
  }
}

@media screen and (min-width: 768px) {
  .social-auth-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    gap: 48px;
  }
}

.social-media {
  display: none;
}
@media screen and (min-width: 768px) {
  .social-media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 26px;
  }
}
@media screen and (min-width: 1920px) {
  .social-media {
    gap: 18px;
  }
}

.social-media__link {
  fill: #ffffff;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-media__link:hover {
  fill: #d61c1c;
}

.social-media__icon {
  fill: inherit;
}

.auth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
}
@media screen and (min-width: 1920px) {
  .auth {
    gap: 32px;
  }
}

.auth__register {
  display: inline-block;
  padding: 0 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.4;
  color: #ffffff;
  background: none;
  border: 2px solid #ffffff;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: none;
  opacity: 0.8;
}
@media screen and (max-width: 768px) {
  .auth__register {
    display: none;
  }
}
@media screen and (min-width: 1920px) {
  .auth__register {
    font-size: 20px;
  }
}
.auth__register:hover {
  color: #d61c1c;
}

.auth__login {
  display: inline-block;
  padding: 9px 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.4;
  color: #ffffff;
  background: none;
  border: 2px solid #ffffff;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1920px) {
  .auth__login {
    font-size: 20px;
  }
}
.auth__login:hover {
  background-color: #d61c1c;
}

.hero {
  padding: 16px 0;
  background: url("../images/hero/xxs-hero@1x.png") no-repeat center 65px;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background: url("../images/hero/xxs-hero@2x.png") no-repeat center 65px/320px 171px;
  }
}
@media screen and (min-width: 375px) {
  .hero {
    padding: 24px 0;
    background: url("../images/hero/xs-hero@1x.png") no-repeat center 90px;
  }
}
@media screen and (min-width: 375px) and (min-device-pixel-ratio: 2), screen and (min-width: 375px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 375px) and (min-resolution: 192dpi), screen and (min-width: 375px) and (min-resolution: 2dppx) {
  .hero {
    background: url("../images/hero/xs-hero@2x.png") no-repeat center 90px/347px 207px;
  }
}
@media screen and (min-width: 768px) {
  .hero {
    padding: 48px 0 57px;
    background: url("../images/hero/sm-hero@1x.png") no-repeat right 0;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background: url("../images/hero/sm-hero@2x.png") no-repeat right 0/317px 360px;
  }
}
@media screen and (min-width: 990px) {
  .hero {
    padding: 48px 0 75px;
    background: url("../images/hero/md-hero@1x.png") no-repeat right -10px;
  }
}
@media screen and (min-width: 990px) and (min-device-pixel-ratio: 2), screen and (min-width: 990px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 990px) and (min-resolution: 192dpi), screen and (min-width: 990px) and (min-resolution: 2dppx) {
  .hero {
    background: url("../images/hero/md-hero@2x.png") no-repeat right -10px/491px 426px;
  }
}
@media screen and (min-width: 1440px) {
  .hero {
    padding: 56px 0 141px;
    background: url("../images/hero/lg-hero@1x.png") no-repeat right -20px;
  }
}
@media screen and (min-width: 1440px) and (min-device-pixel-ratio: 2), screen and (min-width: 1440px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1440px) and (min-resolution: 192dpi), screen and (min-width: 1440px) and (min-resolution: 2dppx) {
  .hero {
    background: url("../images/hero/lg-hero@2x.png") no-repeat right -20px/746px 492px;
  }
}
@media screen and (min-width: 1920px) {
  .hero {
    padding: 70px 0 194px;
    background: url("../images/hero/xl-hero@1x.png") no-repeat right -40px;
  }
}
@media screen and (min-width: 1920px) and (min-device-pixel-ratio: 2), screen and (min-width: 1920px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1920px) and (min-resolution: 192dpi), screen and (min-width: 1920px) and (min-resolution: 2dppx) {
  .hero {
    background: url("../images/hero/xl-hero@2x.png") no-repeat right -40px/998px 669px;
  }
}

@media screen and (min-width: 768px) {
  .hero__wrap {
    width: 430px;
  }
}
@media screen and (min-width: 990px) {
  .hero__wrap {
    width: 465px;
  }
}
@media screen and (min-width: 1440px) {
  .hero__wrap {
    width: 530px;
  }
}
@media screen and (min-width: 1920px) {
  .hero__wrap {
    width: 715px;
  }
}

.hero__text {
  font-size: 15px;
  text-align: center;
  opacity: 0.8;
  margin-top: 195px;
  margin-bottom: 24px;
}
@media screen and (min-width: 375px) {
  .hero__text {
    font-size: 16px;
    margin-top: 203px;
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 768px) {
  .hero__text {
    font-size: 17px;
    text-align: left;
    margin-top: 24px;
    margin-bottom: 34px;
  }
}
@media screen and (min-width: 990px) {
  .hero__text {
    font-size: 18px;
    margin-top: 32px;
    margin-bottom: 48px;
  }
}
@media screen and (min-width: 1440px) {
  .hero__text {
    font-size: 20px;
    margin-bottom: 56px;
  }
}
@media screen and (min-width: 1920px) {
  .hero__text {
    font-size: 26px;
    margin-top: 50px;
    margin-bottom: 70px;
  }
}

.advantages {
  padding: 29px 0 41px;
}
@media screen and (max-width: 767px) {
  .advantages {
    display: none;
  }
}
@media screen and (min-width: 990px) {
  .advantages {
    padding: 38px 0 56px;
  }
}
@media screen and (min-width: 1440px) {
  .advantages {
    padding: 55px 0 56px;
  }
}
@media screen and (min-width: 1920px) {
  .advantages {
    padding: 70px 0 80px;
  }
}

.advantages__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 24px;
}

.advantages__item {
  width: calc((100% - 72px) / 4);
  text-align: center;
}
@media screen and (min-width: 990px) {
  .advantages__item {
    text-align: left;
  }
}

.advantages__icon {
  width: 48px;
  height: 48px;
}
@media screen and (min-width: 990px) {
  .advantages__icon {
    width: 51px;
    height: 51px;
  }
}
@media screen and (min-width: 1440px) {
  .advantages__icon {
    width: 58px;
    height: 58px;
  }
}
@media screen and (min-width: 1920px) {
  .advantages__icon {
    width: 77px;
    height: 77px;
  }
}

.advantages__title {
  font-size: 16px;
  line-height: 1.5;
}
@media screen and (min-width: 990px) {
  .advantages__title {
    margin-top: 20px;
    line-height: 1.125;
  }
}
@media screen and (min-width: 1440px) {
  .advantages__title {
    margin-top: 24px;
    font-size: 18px;
    line-height: 1;
  }
}
@media screen and (min-width: 1920px) {
  .advantages__title {
    margin-top: 32px;
    font-size: 24px;
    line-height: 1;
  }
}

.advantages__text {
  margin-top: 16px;
  font-size: 16px;
  line-height: 1.5;
  opacity: 0.8;
}
@media screen and (max-width: 989px) {
  .advantages__text {
    display: none;
  }
}
@media screen and (min-width: 1440px) {
  .advantages__text {
    margin-top: 12px;
    font-size: 16;
    line-height: 1.5;
  }
}
@media screen and (min-width: 1920px) {
  .advantages__text {
    margin-top: 16px;
    font-size: 20px;
    line-height: 1.5;
  }
}/*# sourceMappingURL=main.css.map */