// colors
$primary-color: #ff1f1f;
$primary-color-hover: #d61c1c;
$secondary-color: #ffffff;
$accent-color: #fc3232;
$form-border: #f82225;
$black-color: #000;

$body-bg: #141517;
$border-secondary-color: #c6c6c8;

// font-size
$font-xl: 26px;
$font-lg: 24px;
$font-md: 20px;
$font-sm: 18px;
$font-xs: 15px;

$section-title-xl: 52px;
$section-title-lg: 40px;
$section-title-md: 36px;
$section-title-sm: 30px;
$section-title-xs: 28px;
$section-title-xxs: 20px;

$hero-title-xl: 56px;
$hero-title-lg: 42px;
$hero-title-md: 38px;
$hero-title-sm: 32px;
$hero-title-xs: 28px;
$hero-title-xxs: 24px;

// font-weight
$lg-weight: 600;
$md-weight: 500;
$sm-weight: 400;

// line-height
$line-heigth-normal: 1.4;
$line-heigth-big: 1.5;
$line-heigth-small: 1.2;

//breakpoints
$screen-st: 320px;
$screen-xs: 375px;
$screen-sm: 768px;
$screen-md: 990px;
$screen-lg: 1440px;
$screen-xl: 1920px;

// radius
$base-radius: 5px;
$big-radius: 8px;

//other
$animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
