.header {
  padding: 16px 0 14px;

  @media screen and (min-width: $screen-xs) {
    padding: 44px 0 14px;
  }

  @media screen and (min-width: $screen-sm) {
    padding: 23px 0 29px;
  }

  @media screen and (min-width: $screen-xl) {
    padding: 30px 0 40px;
  }
}

// header-wrap
.header-wrap {
  @include useFlex(flex, center, space-between);
}

// logo
.logo {
  display: inline-block;
  width: 56px;
  height: 50px;
  background: url('../images/logo.svg') no-repeat center center / contain;

  @media screen and (min-width: $screen-sm) {
    width: 64px;
    height: 58px;
  }

  @media screen and (min-width: $screen-md) {
    width: 72px;
    height: 65px;
  }

  @media screen and (min-width: $screen-xl) {
    width: 96px;
    height: 87px;
  }
}

// social-auth-wrap
.social-auth-wrap {
  @media screen and (min-width: $screen-sm) {
    @include useFlex(flex, center);

    gap: 48px;
  }
}

// social-media
.social-media {
  display: none;

  @media screen and (min-width: $screen-sm) {
    display: flex;
    gap: 26px;
  }

  @media screen and (min-width: $screen-xl) {
    gap: 18px;
  }
}

.social-media__link {
  fill: $secondary-color;

  transition: fill $animation;

  &:hover {
    fill: $primary-color-hover;
  }
}

.social-media__icon {
  fill: inherit;
}

// auth
.auth {
  display: flex;
  gap: 24px;

  @media screen and (min-width: $screen-xl) {
    gap: 32px;
  }
}

.auth__register {
  @include transparent-button(0, 0, $lg-weight, 16px);
  border: none;
  opacity: 0.8;

  @media screen and (max-width: $screen-sm) {
    display: none;
  }

  @media screen and (min-width: $screen-xl) {
    font-size: 20px;
  }

  &:hover {
    color: $primary-color-hover;
  }
}

.auth__login {
  @include transparent-button(9px, 24px, $md-weight, 16px);

  @media screen and (min-width: $screen-xl) {
    font-size: 20px;
  }

  &:hover {
    background-color: $primary-color-hover;
  }
}
