.web-bg {
  background-image: url('../images/web-bg/pic-web-xs.png'), url('../images/web-bg/gr-web-sm.png');
  background-repeat: no-repeat, no-repeat;
  background-position: left center, center center;

  @media screen and (min-width: $screen-xs) {
    background-image: url('../images/web-bg/pic-web-xs.png'), url('../images/web-bg/gr-web-sm.png');
  }
  @media screen and (min-width: $screen-sm) {
    background-image: url('../images/web-bg/web_gradient_md.png');
  }
  @media screen and (min-width: $screen-md) {
    background-image: url('../images/web-bg/web_gradient_lg.png');
  }
  @media screen and (min-width: $screen-lg) {
    background-image: url('../images/web-bg/web_gradient_xl.png');
  }
}
