.web__bg {
  background-image: url('../images/hero/bg/pic-hero-xs.png'),
    url('../images/hero/bg/gr-hero-xs.png');
  background-repeat: no-repeat, no-repeat;
  background-position: bottom center, center center;

  @media screen and (min-width: $screen-xs) {
    background-image: url('../images/hero/bg/pic-hero-sm.png'),
      url('../images/hero/bg/gr-hero-sm.png');
    background-repeat: no-repeat, no-repeat;
    background-position: bottom center, center center;
  }
  @media screen and (min-width: $screen-sm) {
    background-image: url('../images/hero/bg/pic-hero-md.png'),
      url('../images/hero/bg/gr-hero-md.png');
    background-repeat: no-repeat, no-repeat;
    background-position: bottom center, center center;
  }
  @media screen and (min-width: $screen-md) {
    background-image: url('../images/hero/bg/pic-hero-lg.png'),
      url('../images/hero/bg/gr-hero-lg.png');
    background-repeat: no-repeat, no-repeat;
    background-position: bottom center, center center;
  }
  @media screen and (min-width: $screen-lg) {
    background-image: url('../images/hero/bg/pic-hero-xl.png'),
      url('../images/hero/bg/gr-hero-xl.png');
    background-repeat: no-repeat, no-repeat;
    background-position: bottom center, center center;
  }
  @media screen and (min-width: $screen-xl) {
    background-image: url('../images/hero/bg/pic-hero-xl.png'),
      url('../images/hero/bg/gr-hero-xl.png');
    background-repeat: no-repeat, no-repeat;
    background-position: bottom center, center center;
  }
}
